- page_title "Service Templates"

- if show_service_templates_deprecated?
  .gl-alert.gl-alert-warning.js-service-templates-deprecated.prepend-top-default{ role: 'alert', data: { feature_id: UserCalloutsHelper::SERVICE_TEMPLATES_DEPRECATED, dismiss_endpoint: user_callouts_path } }
    = sprite_icon('warning', size: 16, css_class: 'gl-icon gl-alert-icon gl-alert-icon-no-title')
    %button.js-close.gl-alert-dismiss{ type: 'button', 'aria-label' => _('Dismiss') }
      = sprite_icon('close', size: 16, css_class: 'gl-icon')
    .gl-alert-body
      %h4.gl-alert-title= _('Service templates will be deprecated!')
      = _('Service templates will be deprecated after 12.10. Instead we are upgrading our current Integrations to allow more control.')
    .gl-alert-actions
      = link_to _('Go to Integrations'), integrations_admin_application_settings_path, class: 'btn gl-alert-action btn-warning new-gl-button'
      = link_to _('Learn more'), '#', class: 'btn gl-alert-action btn-warning btn-secondary new-gl-button'

%h3.page-title Service templates
%p.light= s_('AdminSettings|Service template allows you to set default values for integrations')

.table-holder
  %table.table
    %thead
      %tr
        %th
        %th Service
        %th Description
        %th Last edit
    - @services.each do |service|
      %tr
        %td
          = boolean_to_icon service.activated?
        %td
          = link_to edit_admin_application_settings_service_path(service.id) do
            %strong= service.title
        %td
          = service.description
        %td.light
          = time_ago_with_tooltip service.updated_at
