- breadcrumb_title _("Push Rules")
- page_title _("Push Rules")
- @content_class = "limit-container-width" unless fluid_layout

%section.settings.no-animate{ class: ('expanded' if expanded_by_default?) }
  .settings-header
    %h4
      = _('Push Rules')
    %button.btn.js-settings-toggle{ type: 'button' }
      = expanded_by_default? ? _('Collapse') : _('Expand')
    %p
      = _('Rules that define what git pushes are accepted for a project. All newly created projects will use these settings.')
  .settings-content
    = render 'push_rules'

= form_for @push_rule, url: admin_push_rule_path, method: :put do |f|
  - if @push_rule.errors.any?
    .alert.alert-danger
      - @push_rule.errors.full_messages.each do |msg|
        %p= msg
  = render "shared/push_rules/form", f: f, context: nil

= render 'merge_request_approvals'
